body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #8a2496;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    padding: 05px; /* Espaçamento interno do header */
    display: flex;
    /*justify-content: space-between;
    */
    padding: 10px;
    margin: 0;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
}

header img {
    max-width: 180px;
    height: auto;
}

#searchInput {
    width: 150px;
    max-height: 5px; /* Reduz a largura da barra de busca */
    padding: 5px; /* Ajusta o espaçamento interno da barra de busca */
    margin-top: auto;
    display: flex;
    margin-bottom: auto;
    margin-left:auto;
    margin-right: 5rem;
}

.menu {
    width: 250px;
    top: 95px;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #3f1244;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
}

.menu a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #f4c80d;
    display: block;
}

.menu a:hover {
    background-color: #8a2496;
}

.content {
    margin-left: 250px;
    padding-top: 10rem;
    padding-right: 10rem;
}

.posters {
    display: flex;
    flex-wrap: wrap;
}

.poster {
    width: calc(33.33% - 20px);
    margin: 0.2rem;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc
}

.poster img {
    max-width: 80%;
    height: auto;
}