/*
header {
    background-color: #8a2496; /* Cor de fundo do header, se desejar */
    /*padding: 20px; /* Espaçamento interno do header */
    /*display: flex;
    margin: 0;
}
*/

header {
    background: #8a2496;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    padding: 05px; /* Espaçamento interno do header */
    display: flex;
    margin: 0;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
 }

img {
    max-width: 180px; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
}

body{
    margin: 0;
}

.menu {
    position: fixed;
    left: 0;
    top: 85px;
    width: 200px;
    height: 100%;
    background-color: rgb(242, 242, 242);
    color: #ffffff;
    padding: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: #f4c80d;
}

.content {
    margin-left: 230px; /* Ajuste conforme a largura do menu + margem desejada */
    padding: 80px;
}

.movies-list {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    box-sizing: border-box;
    width: calc(33.33% - 20px);
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
}

.movie img {
    max-width: 50%;
    height: auto;
}
