form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    padding: 5px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 5px;
    margin-bottom: 20px;
}

button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Adicione um estilo personalizado aos resultados da pesquisa */
#search-results {
    margin-top: 30px;
}

#search-results div {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    margin-bottom: 10px;
}