
.posters {
    display: flex;
    flex-wrap: wrap;
}

.poster {
    width: calc(33.33% - 20px);
    margin: 0.2rem;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc
}

.poster img {
    max-width: 80%;
    height: auto;
}